html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: raleway, sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
  }
  
  .full-height {
    height: 100vh;
  }
  
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .position-ref {
    position: relative;
  }
  
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  
  .content {
    text-align: center;
  }
  
  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .m-b-md {
    margin-bottom: 30px;
  }
  
  footer{
    background: #eee;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 50px;
    padding: 12px 0;
    font-weight: 800;
  }

  .detail-card img {
      height: 300px;
      width: auto;
  }

  a {
    text-decoration: none;
  }

  .btn-prod {
    padding: 20px;
    color: white;
    background-color: #67be90;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }

  .btn-prod:hover {
    background-color: #4c8d6a;
  }
   
  input {
    border: 1px solid #67be90;
  }

  input[type="submit"] {
    margin-top: 20px;
    border: none;
    background-color: #67be90;
    color: white;
  }

  label {
    font-weight: 600;
  }